<!DOCTYPE html>
<html>

<head>
	{% load jsonify static %}
	<!-- Custom CSS-->
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/bootstrap.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/nav.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/nav.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/main.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/form.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/loader.css' %}"/>
	<!-- Jquery CDN link-->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!-- Jquery UI CDN link-->
	<script src="{% static 'gee/js/jquery-ui.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/jquery-ui.css' %}">
	<!--Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"/>
	<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!-- Leaflet CSS and JS CDN -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	<title>Map</title>
</head>

<body>
	<nav>
		<div class="logo">
			<img src="{% static 'gee/img/world.png' %}" width="65px" height="65px">
			<div class="logo-words">
			<h4>GoalSpatial</h4>
			<h6>Coordinates for Problems</h6>
		</div>
		</div>
		<ul class="nav-links">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Map</a>
			</li>
			<li>
				<a href="#">Login</a>
			</li>
			<li>
				<a href="#">SignUp</a>
			</li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<div class="row">
		<div class="form-div">
			<h3 class="form-title">Select Dataset</h3>
			<form method="post" action="{% url 'get-image-collection' %}" id="form-prds">
				{% csrf_token %}
				{{ satellite_data_form }}
				<br />
				<label for="id_start_date">Start date:</label>
				<input type="date" name="start_date" required id="id_start_date" min="2000-02-24" max="{{ latest_date }}">
				<br />
				<label for="id_end_date">End date:</label>
				<input type="date" name="end_date" required id="id_end_date" min="2000-02-24" max="{{ latest_date }}">
				<br />
				<input type="submit" name="submit" class="btn btn-primary" id="load_map" value="Load Selected Products" class="datepicker">
			</form>
			<button id="clear_map" class="btn">Clear Current Products</button>
		</div>
		<div class="map-div" id="map-div">
		</div>
	</div>
	{% if error %}
	<script type="text/javascript">
        $('#errorModal').modal("show");
        </script>
    {% endif %}
	<div id="ee-products" data-ee-products="{{ ee_products }}">
		<div id="loader">
			<img src="{% static 'gee/img/loader.gif' %}">
		</div>
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="errorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Earth Engine Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Error</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript">
		var map = L.map('map-div').setView([0.3556, 37.5833], 6);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		L.marker([0.3556, 37.5833]).addTo(map)
			.bindPopup('Approximately the center of Kenya')
			.openPopup();
		L.tileLayer('https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b4b62e7bb1accb0eafdbd43dc70c431c-9dfe3b60207ce6804ea5900888161f37/tiles/{z}/{x}/{y}', {attribution:'Google Earth Engine', name:'NDVI','overlay':true,'control':true}).addTo(map);
	</script>
	<script src="{% static 'gee/js/nav.js' %}"></script>
	<script src="{% static 'gee/js/bootstrap.js' %}"></script>
	<script src="{% static 'gee/js/main.js' %}"></script>
	<script src="{% static 'gee/js/gee_datasets.js' %}" type="text/javascript"></script>
</body>

</html>