<!DOCTYPE html>
<html>

<head>
	{% load jsonify static %}
	<!-- Custom CSS-->
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/nav.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/nav.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/form.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/loader.css' %}" />
	<!-- Jquery CDN link-->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!-- Jquery UI CDN link-->
	<script src="{% static 'gee/js/jquery-ui.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'gee/css/jquery-ui.css' %}">
	<!--Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
	</style>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

	<!-- Leaflet CSS and JS CDN -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	<title>Map</title>
</head>

<body style="width:100%; height: 100vh">
	<nav>
		<div class="logo">
			<img src="{% static 'gee/img/world_map.png' %}" width="130px" height="65px">
			<div class="logo-words">
				<h4>GoalSpatial</h4>
				<h6>Coordinates for Problems</h6>
			</div>
		</div>
		<ul class="nav-links">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Map</a>
			</li>
			<li>
				<a href="#">Login</a>
			</li>
			<li>
				<a href="#">SignUp</a>
			</li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<div class="row">
		<div class="form-div">
			<h3 class="form-title">Select Dataset</h3>
			<form method="post" action="{% url 'get-image-collection' %}" id="form-prds">
				{% csrf_token %}
				{{ satellite_data_form }}
				<br />
				<label for="id_start_date">Start date:</label>
				<input type="date" name="start_date" required id="id_start_date" min="2000-02-24"
					max="{{ latest_date }}">
				<br />
				<label for="id_end_date">End date:</label>
				<input type="date" name="end_date" required id="id_end_date" min="2000-02-24" max="{{ latest_date }}">
				<br />
				<input type="submit" name="submit" class="btn btn-primary" id="load_map" value="Load Selected Products"
					class="datepicker">
			</form>
			<button id="clear_map" class="btn">Clear Current Products</button>
		</div>
		<div class="map-div" id="map-div">
		</div>
	</div>
	<div id="ee-products" data-ee-products="{{ ee_products }}">

	</div>
	<div id="overlay"></div>
	<script type="text/javascript">
		$('#form-prds').on('submit', function loadProducts(e) {
			e.preventDefault();
			console.log("form submitted!");
			update_map();
			function update_map() {
				console.log("create post is working!") // sanity check
				$.ajax({
					url: "{% url 'get-image-collection' %}", // the endpoint
					type: "POST", // http method
					data: {
						platforms: $('#id_platforms').val(),
						sensors: $('#id_sensors').val(),
						products: $('#id_products').val(),
						start_date: $('#id_start_date').val(),
						end_date: $('#id_end_date').val(),
						reducer: $('#id_reducer').val()
					},

					// handle a successful response
					success: function data_loaded(json) {

						console.log(json); // log the returned json to the console
						console.log("success"); // another sanity check
						var gee_layer = new L.tileLayer(json.url, { attribution: '&copy; <a href="https://www.earthengine.google.com/copyright">Google Earth Engine</a>'})
						function get_gee_layer(){
							gee_layer.addTo(map);
							var baseMaps = {
								"OpenStreetMap": openstreetmap,
							};
							var overlaymaps = {
								lyr:gee_layer,
							};
							L.control.layers(baseMaps, overlaymaps).addTo(map);
							gee_layer.on('tileload', function () {
								console.log("Loading the requested data......");
								document.getElementById('overlay').style.display = 'block';
							});
							gee_layer.on('load', function () {
								console.log("Data loaded.");
								document.getElementById('overlay').style.display = 'none';
							});
							return gee_layer;
						};
						get_gee_layer();
					},
					// handle a non-successful response
					error: function (xhr, errmsg, err) {
						// add the error to the dom
						alert("There was an error loading the requested data")
					}
				});
			}
		});
		var map = L.map('map-div', {
			center: [0.3556, 37.5833],
			zoom: 6,
		});
		var openstreetmap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		//let overlaymaps = loadProducts().update_layer_control();
		L.marker([0.3556, 37.5833]).addTo(map)
			.bindPopup('Approximately the center of Kenya');
	</script>
	<script src="{% static 'gee/js/nav.js' %}"></script>
	<script src="{% static 'gee/js/bootstrap.js' %}"></script>
	<script src="{% static 'gee/js/gee_datasets.js' %}" type="text/javascript"></script>
	<script src="{% static 'gee/js/main.js' %}"></script>
</body>

</html>