div .row{
	padding: 30px;
}
.form-div{
	background-color: #e2e2e2;
	float: left;
	width: 25%;
	height: 100vh;
}
.map-div{
	float: right;
	width: 75%;
	height: 100vh;
}
#clear_map{
	margin-right: auto;
	margin-left: 20px;
	border-radius: 40px;
	border-color: #1c005c
}